<section class="register">
    <div class="container">
      <div class="col-sm-6 col-sm-offset-6">
        <h2>Register</h2>
        <form>
          <fieldset>
            <div class="field_set"> 
              <input type="text" name="name" class="form" placeholder="Name"/>
            </div>
            <div class="field_set"> 
              <input type="text" name="roll number" class="form"  placeholder="SSC/CBSC Roll Number" />
            </div>
            <div class="field_set"> 
              <input type="password" name="create password" class="form" placeholder="Create Password" />
            </div>
            <div class="field_set"> 
              <input type="password" name="conform password" class="form"  placeholder="Confirm Password"/>
            </div>
            <div class="field_set"> 
              <input type="text" name="mobile number" class="form"  placeholder="Mobile Number"/>
            </div>
            <button type="submit" class="Primary-btn pull-right">Register Now</button>
            </fieldset>
</form>
      </div>
      </div>
</section>
