<footer>
  <div class="container">
    <div class="menu">
      <ul>
        <li><a href="#" routerLink="/Home" routerLinkActive="active">Home</a></li>
        <li><a href="#" routerLink="/company" routerLinkActive="active">Companies</a></li>
        <li><a href="#" routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li><a href="#" routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a href="#" routerLink="/employerLogin" routerLinkActive="active">Employer login</a></li>
        <li><a href="#" routerLink="/profile" routerLinkActive="active">Profile</a></li>
        <li><a href="#" routerLink="/employerReg" routerLinkActive="active">Employer Registration</a></li>
      </ul>
    </div>
    <div class="sociallinks">
      <ul>
        <li><a href="javascript:;">FB</a></li>
        <li><a href="javascript:;">FB</a></li>
        <li><a href="javascript:;">FB</a></li>
        <li><a href="javascript:;">FB</a></li>
      </ul>
    </div>
  </div>
</footer>
