<header>
  <div class="container">
    <div class="logo">
      <a href="javascript:;" routerLink="/Home" >
        <img src="../../../assets/images/udhyogii.jpg" alt="udhyogii logo" class="img-responsive" />
      </a>
    </div>

    <div class="menu">
      <ul>
        <li><a href="#" routerLink="/Home" routerLinkActive="active">Home</a></li>
        <li><a href="#" routerLink="/company" routerLinkActive="active">Companies</a></li>
        <li><a href="#" routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li><a href="#" routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a href="#" routerLink="/Home" routerLinkActive="active">LogOut</a></li>
        <li><a href="#" routerLink="/employerLogin" routerLinkActive="active">Employer login</a></li>
        <li><a href="#" routerLink="/profile" routerLinkActive="active">Profile</a></li>
      </ul>
    </div>
  </div>
</header>




<div class="modal fade login" id="forgotpassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title" id="exampleModalLabel">Forgot Password</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
          <form class="clearfix">
            <div class="field_block">
              <label>UID</label>
              <input type="text" name="" class="form-control" />
            </div>
            <div class="field_block">
              <label>Mobile Number</label>
              <input type="number" name="" class="form-control" />
            </div>
            <div class="field_block">
              <label>New Password</label>
              <input type="password" name="" class="form-control" />
            </div>
            <div class="field_block">
              <label>Conform Password</label>
              <input type="password" name="" class="form-control" />
            </div>
            <div class="col-xs-12 no-pad text-right">
              <button type="button" name="login" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
