

<section class="job-search">
  <div class="container">
    <div class="row filter">
      <h3>Select your job by </h3>
      <div class="col-sm-3">
        <label>Job Type*</label>
        <select class="form-control">
          <option>Part Time</option>
          <option>Permanent</option>
          <option>Contract</option>
          <option>Internship</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>Sector</label>
        <select class="form-control">
          <option>Health care</option>
          <option>Security</option>
          <option>Telecom</option>
          <option>Software</option>
          <option>Manufacturing</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>Domain</label>
        <select class="form-control">
          <option>.net</option>
          <option>JAVA</option>
          <option>Web Technologies</option>
          <option>Auto Testing</option>
          <option>Manual Testing</option>
          <option>SAP</option>
          <option>Php</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>Company</label>
        <select class="form-control">
          <option>Deloit</option>
          <option>Infosys</option>
          <option>Wipro</option>
          <option>HSBC</option>
          <option>Microsoft</option>
          <option>Airtel</option>
          <option>vodafone</option>
        </select>
      </div>
    </div>

    <div class="jobs-list">
      <div class="item">
        <h3>Deloit</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <a href="#" class="btn btn-primary pull-right">Details</a> <a href="#" class="btn btn-primary pull-right">Apply now</a>
      </div>
      <div class="item">
        <h3>Deloit</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <a href="#" class="btn btn-primary pull-right">Details</a><a href="#" class="btn btn-primary pull-right">Apply now</a>
      </div>
      <div class="item">
        <h3>Deloit</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <a href="#" class="btn btn-primary pull-right">Details</a><a href="#" class="btn btn-primary pull-right">Apply now</a>
      </div>
      <div class="item">
        <h3>Deloit</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <a href="#" class="btn btn-primary pull-right">Details</a> <a href="#" class="btn btn-primary pull-right">Apply now</a>
      </div>
      <div class="item">
        <h3>Deloit</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <a href="#" class="btn btn-primary pull-right">Details</a><a href="#" class="btn btn-primary pull-right">Apply now</a>
      </div>
    </div>
  </div>
</section>
