$Primary-color:#00a2ff;
$Secondary-color:#1d232a;
$Third-color:#f7f7f7;
$Background:#e6e6e6;
$Active-color:#e75c18;
$Black:#000000;
$White:#ffffff;
$Border:#d8d8d8;
$Head-icons:#949494;
$Notifications:#e75c18;


$Flyout-color:#0e3554;
$Table-color:#3e6f9a;
$Table-hover-color:#f4f8fb;