<div class="login">
  <div class="container">
    <div class="col-sm-6 col-sm-offset-6">
      <h2>Login</h2>
      <form novalidate  #signupForm="ngForm" (ngSubmit)="Login(signupForm)">
        <fieldset>
          <div class="form-group">
            <input type="text" name="uid" id="uid" required="required" class="form" placeholder="UID(10th roll number)" />
          </div>
          <div class="form-group">
            <input class="form" placeholder="Password" name="password" type="password" required="required" value="">
          </div>
          <div class="checkbox col-sm-6">
            <label>
              <input name="remember" type="checkbox" value="Remember Me">Remember Me
            </label>
          </div>
          <div class="col-sm-6 text-right">
            <p>Not a member! <a href="#" routerLink="/register">Register</a> here</p>
          </div>
          <!-- Change this to a button or input when using this as a form -->
          <button type="submit"  name="submit" class="form-btn semibold">Login</button>
        </fieldset>
      </form>
    </div>
  </div>

</div>
