<section class="job-search">
  <div class="container">
    <div class="row filter">
      <h3>Select By </h3>
      <div class="col-sm-3">
        <label>Experience</label>
        <select class="form-control">
          <option>Select</option>
          <option>0 - 3 yrs</option>
          <option>3 - 5 yrs</option>
          <option>5 - 10 yrs</option>
          <option>10+ yrs</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>Primary Skills</label>
        <select class="form-control">
          <option>Select</option>
          <option>.net</option>
          <option>java</option>
          <option>angularjs</option>
          <option>SAP</option>
          <option>Android</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>Designation</label>
        <select class="form-control">
          <option>Select</option>
          <option>Ui Developer</option>
          <option>Web Designer</option>
          <option>Software Engineer</option>
          <option>Hr Management</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>Salary Range</label>
        <select class="form-control">
          <option>Select</option>
          <option>0 - 2lakhs</option>
          <option>2 - 5lakhs</option>
          <option>5 - 10lakhs</option>
          <option>10 - 15lakhs</option>
          <option>15+</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>Location</label>
        <select class="form-control">
          <option>Select</option>
          <option>Hyderabad</option>
          <option>Banglore</option>
          <option>Pune</option>
          <option>Chenai</option>
          <option>Mumbai</option>
          <option>Delhi</option>
          <option>Noida</option>
        </select>
      </div>

      <div class="employees-list col-xs-12">
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-xs-2">Full Name</th>
              <th class="col-xs-2">Designation</th>
              <th class="col-xs-2">Salary</th>
              <th class="col-xs-2">Skills</th>
              <th class="col-xs-2">Company</th>
              <th class="col-xs-2">View Profile</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            <tr>
              <td class="col-xs-2">John</td>
              <td class="col-xs-2">Ui Developer</td>
              <td class="col-xs-2">5lakhs</td>
              <td class="col-xs-2">.net, sql, java</td>
              <td class="col-xs-2">Crest Dzines</td>
              <td class="col-xs-2"><a href="javascript:;">View</a></td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>



  </div>
</section>
